{% extends 'base.html' %}
{% load staticfiles %}
{% block navbar_links %}
{% endblock %}
{% block title %}
    Сброс пароля
{% endblock %}
{% block content %}
    <div class="col-sm-offset-3 col-sm-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-info text-center">Сброс пароля</h4>
            </div>
            <div class="panel-body">
                {% if messages %}
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <ul>
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <form role="form" id="password-reset-form" method="post" class="form-horizontal"
                      action="">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {% for error in form.non_field_errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}"
                                   class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10">{{ field }}</div>
                            {% if field.errors|length > 0 %}
                                <div class="col-sm-offset-3">
                                    {% for error in field.errors %}
                                        <p class="text-danger">
                                            * {{ error }}
                                        </p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Отправить" class="btn btn-primary pull-right">
                </form>


            </div>
        </div>
    </div>

{% endblock %}