{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Блог{% endblock %}
{% block content %}
    <div id="content-page">
        {% block page_title %}
        {% endblock %}
        {% for article in object_list %}
            <h6>Автор: <a
                    href="{% url 'profile_person' email=article.author.email %}">{{ article.author.get_official_name }}</a>,
                Дата публикации: {{ article.date_created }} </h6>
            <h3><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a>
                {% block article_edit %}{% endblock %}</h3>
            <p>Теги:
                {% for tag in article.tags.all %}
                    <span class="label label-primary">
                    <a href="{% url 'tags' pk=tag.id %}" class="link-text-white">{{ tag }}</a>

                    </span>
                    {% if not forloop.last %}
                        &nbsp
                    {% endif %}
                {% endfor %}</p>
            <p>{{ article.text|safe|slice:"300" }}...<a href="{% url 'article_detail' pk=article.pk %}"
                                                        class="btn btn-xs btn-primary text-bold">Читать далее</a></p>

            <p {% if not user.is_authenticated %} data-toggle="tooltip"
                                                  title="Вам необходимо зарегистрироваться"
            {% endif %}>
                <a class='like-link' href="{% url 'article_like' pk=article.pk %}" onclick="return false;">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>&nbsp<span>{{ article.likes }}</span></p>
            <hr/>
        {% endfor %}
    </div>
    <div>

        <div class="col-md-offset-5">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {#                {% else %}#}
                        {#                    <li class="arrow unavailable"><a href="">&laquo;</a></li>#}
                    {% endif %}

                    {% for page in paginator.page_range %}
                        {% if not forloop.first %}
                            &nbsp;
                        {% endif %}
                        {% if page == page_obj.number %}
                            <li class="active">
                                <a href="?page={{ page }}">
                                    {{ page }}
                                </a></li>
                        {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {#                {% else %}#}
                        {#                    <li class="arrow unavailable"><a href="">&raquo;</a></li>#}
                    {% endif %}
                </ul>
            {% endif %}

        </div>
    </div>
{% endblock content %}
{% block additional_js %}
    <script type="text/javascript" src="{% static "js/articles.js" %}">
    </script>
{% endblock %}
