{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}Блог{% endblock %}
{% block content %}
    <div class="large-8 column" id="content-page">
        {% for article in object_list %}
            <h6>Дата публикации: {{ article.date }}</h6>
            <h4><a href="{% url 'article_detail' pk=article.pk %}">{{ article.title }}</a></h4>
            <p>{{ article.text|slice:"300" }}...</p>
            <p><a class='like-link' href="{% url 'article_like' pk=article.pk %}" onclick="return false;"><img
                    src="{% static 'like.jpg' %}" alt="Like" width="25px"
                    height="25px"></a><span>{{ article.likes }}</span></p>

            <hr/>
        {% endfor %}
    </div>
    <div class="row">
        <div class="large-10 large-offset-2 columns">
            {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {#                {% else %}#}
                        {#                    <li class="arrow unavailable"><a href="">&laquo;</a></li>#}
                    {% endif %}

                    {% for page in paginator.page_range %}
                        {% if not forloop.first %}
                            &nbsp;
                        {% endif %}
                        {% if page == page_obj.number %}
                            <li class="current">
                                <a href="?page={{ page }}">
                                    {{ page }}
                                </a></li>
                        {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {#                {% else %}#}
                        {#                    <li class="arrow unavailable"><a href="">&raquo;</a></li>#}
                    {% endif %}
                </ul>
            {% endif %}

        </div>
    </div>
{% endblock content %}
{% block additional_js %}
    <script type="text/javascript" src="{% static "js/vendor/jquery.js" %}">
    </script>
    <script type="text/javascript" src="{% static "js/articles.js" %}">
    </script>
{% endblock %}