{% extends 'main.html' %}
{% load staticfiles %}
{% block title %}{{ object.title }}{% endblock %}
{% block content %}
    <h4>{{ object.date }}</h4>
    <h2>{{ object.title }}</h2>
    <p>{{ object.text }}</p>
    <hr/>
    <div class="large-offset-1 large-8 columns">
        <p>Комментарии:</p>
        <div id="comments">
            {% for comment in comments %}
                <p><i><b>{{ comment.user.username }}</b></i>: {{ comment.text }}</p>
            {% endfor %}
        </div>
        {% if username %}
            <form id="comment-form" action="{% url 'article_comment' pk=object.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form }}

                <input type="submit" class="button" value="Добавить комментарий"/>
            </form>

        {% endif %}
    </div>

{% endblock content %}
{% block additional_js %}
    <script type="text/javascript" src="{% static 'js/vendor/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/article_comment.js' %}"></script>

{% endblock %}