{% extends 'articles.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block page_title %}
    <div class="page-header page-title">
        <h2>
            <div>Публикации пользователя: {{ user.get_official_name }}</div>
        </h2>
    </div>
    {% if not object_list %}
        <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        У вас нет публикаций. Хотите добавить статью. <a href="{% url 'article_add' %}" class="btn btn-primary">Добавить статью.</a>
                    </div>
    {% endif %}
{% endblock %}
{% block article_edit %}
    <a href="{% url 'article_user_edit' pk=article.pk %}" class="btn btn-xs btn-info text-bold">Редактировать</a></p>
{% endblock %}