{% extends 'main.html' %}
{% block title %}Авторизация{% endblock %}
{% block login %}
    <div class="large-offset-3 large-6 columns">
    <div class="panel">
        <h4>Авторизация</h4>
        <form action="{% url 'login' %}" method="post" id="login-form">
            {% csrf_token %}
            {% if form.errors %}
                <label class="error">Логин или пароль пользователя неверны</label>
            {% endif %}
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
            <input type="submit" class="button " value="Войти">
            <input type="hidden" name="next" value="{{ next }}">
            <div class="label round info" id="register-link">
                <a href="{% url 'register' %}">Регистрация</a>
            </div>
        </form>
    </div>
    </div>
{% endblock login %}