{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

<title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/foundation.css' %}"/>
{% block additional_css %}{% endblock %}
{% block additional_js %}{% endblock %}

</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="{% url 'logout' %}">Выйти({{ username }})</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </section>
</div>
<h1><a href="/">Мой блог</a></h1>
<div class="row">
    {% block content %}
    {% endblock %}
    {% block login %}
    {% endblock %}
</div>
</body>
</html>